@font-face {
    font-family: 'Norwester';
    src: url('webfonts/norwester.eot');
    src: local('Norwester'),
         local('Norwester Regular'),
         url('webfonts/norwester.woff') format('woff'),
         url('webfonts/norwester.ttf') format('truetype'),
         url('webfonts/norwester.svg#font') format('svg');
}

.bg-primary { background: #CCC; }
.bg-secondary { background: #FFF; }
.fg-primary { color: #CCC; }
.fg-secondary { color: #000; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
	margin: 0;
	overflow: hidden;
}

#mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
	background: #000;
}

#wait {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 500pt;
	background: #FFF;
	padding: 32pt;
	margin-left: -282pt;
	text-align: center;
}

#wait h2 {
	font-family: Norwester, monospace;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 64pt;
	margin: 0;
}

#floater {
	position: fixed;
	left: 32pt;
	top: 32pt;
	font-family: Norwester, monospace;
	width: 500pt;
	z-index: 0;
}

#display {
	background: #FFF;
	padding: 32pt;
	text-align: right;
}

#temp_container {
	font-size: 64pt;
	text-align: right;
}

#temp {
	font-size: 128pt;
}

#target_container, #error_container {
	font-size: 24pt;
	line-height: 32pt;
	text-align: right;
	display: inline;
	margin-left: 16pt;
}

#target_container {
	position: absolute;
	right: 250pt;
}

#target, #abs_err {
	font-size: 32pt;
}

#display .label {
	color: #FFB213;
}

#buttonbar {
	width: 500pt;
	float: left;
}

#buttonbar a {
	display: block;
	width: 216pt;
	padding: 8pt 16pt;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}

#buttonbar #button_enable {
	float: left;
}

#buttonbar #button_disable {
	float: right;
	text-align: right;
}

#buttonbar .fg-secondary {
	background: #FFF;
}

#loader {
	font-family: Norwester, monospace;
	font-size: 128pt;
	position: absolute;
	top: 32pt;
	right: 48pt;
	display: none;

	-moz-animation-direction: alternate;
	-moz-animation-duration: .3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: loader-anim;

	-webkit-animation-direction: alternate;
	-webkit-animation-duration: .3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: loader-anim;
}

@-moz-keyframes loader-anim {
	from {
		opacity: 0.0;
	}

	to {
		opacity: 1.0;
	}
}

@-webkit-keyframes loader-anim {
	from {
		opacity: 0.0;
	}

	to {
		opacity: 1.0;
	}
}

h1 {
	font-size: 12pt;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 16pt;
	right: 32pt;
}

h1 a {
	text-decoration: none;
}

.line {
	fill: none;
	stroke: #000;
	stroke-width: 1.5px;
}

.targetline {
	stroke: #FFF;
	stroke-width: 5px;
	shape-rendering: crispEdges;
}
