@font-face {
    font-family: 'Norwester';
    src: url('webfonts/norwester.eot');
    src: local('Norwester'),
         local('Norwester Regular'),
         url('webfonts/norwester.woff') format('woff'),
         url('webfonts/norwester.ttf') format('truetype'),
         url('webfonts/norwester.svg#font') format('svg');
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
	background: #FE4F00;
	margin: 0;
}

#floater {
	position: fixed;
	right: 32pt;
	top: 32pt;
	font-family: Norwester, monospace;
	width: 500pt;
}

#display {
	background: #FFF;
	padding: 32pt;
	text-align: right;
}

#temp_container {
	font-size: 64pt;
	text-align: right;
}

#temp {
	font-size: 128pt;
}

#target_container, #error_container {
	font-size: 24pt;
	line-height: 32pt;
	text-align: right;
	display: inline;
	margin-left: 16pt;
}

#target_container {
	position: absolute;
	right: 250pt;
}

#target, #abs_err {
	font-size: 32pt;
}

#display .label {
	color: #FFB213;
}

#buttonbar {
	width: 500pt;
	float: left;
	background: #FFB213;
	color: #FE4F00;
}

#buttonbar a {
	display: block;
	width: 216pt;
	padding: 8pt 16pt;
	text-transform: uppercase;
	color: #FE4F00;
	text-decoration: none;
}

#buttonbar #button_enable {
	float: left;
}

#buttonbar #button_disable {
	float: right;
	text-align: right;
}

#buttonbar .selected {
	background: #FFF;
	color: #FFB213;
}

h1 {
	font-size: 12pt;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 16pt;
	right: 32pt;
	color: #FFB213;
}

h1 a {
	color: #FFB213;
	text-decoration: none;
}
